{% extends "layout.html" &}
{% block content %}
<section class="split-hero">

    <div class="gym-side ugym">
        <div class="overlay">
            <h2>uGym</h2>
            < p>Premium Wellness & Recovery Facility</p>
            <ul>
                <li>Modern Swimming Pool</li>
                <li>Specialist Physiotherapy</li>
                <li>Exclusive Classes</li>
            </ul>
        </div>
    </div>

    <div class="gym-side powerzone">
        <div class="overlay">
            <h2>PowerZone</h2>
            <p>Intense Workout Facility </p>
            <ul>
                <li>24/7 all week access</li>
                <li>Professional Bodybuilding Zone</li>
                <li>Expert Massage Services</li>
            </ul>
        </div>
    </div>

    <div class="cta-container">
        <a href="/eligibility" class="btn-main">Find Your Fit</a>
    </div>
</section>
{% endblock %}
